*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#welcome{
    padding: 20px 40px;
}
#welcome h2{
    height: 55px;
    color: black;
    font-size: 40px;
    text-align: center;
}
#welcome p{
    width: 75%;
    height: 55px;
    color: black;
    margin: 10px auto;
    text-align: center;
}
#welcome img{
    display: block;
    margin: 0 auto;
}
#what-we-do{
    padding: 20px 40px;
}
#what-we-do h2{
    height: 55px;
    color: black;
    font-size: 40px;
    text-align: center;
}
#what-we-do h4{
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 5px;
}
.item p{
    font-size: 15px;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 25%;
    height: 350px;
}
.item img{
    margin: 50px 105px;
    border-radius: 50%;
}
.father{
    background-image: url("../img/1.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
}
.logo{
    width: 250px;
    height: 200px;
    position: absolute;
    top: 5px;
    left: 35px;
}
.logo h3{
    font-size: 40px;
    color: white;
    text-align: center;
}
.nav{
    width: 600px;
    height: 150px;
    position: absolute;
    right: 0px;
    top: 0;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav li{
    float: left;
}
.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-right: 29px;
    text-decoration: none;
    font-size: 25px;
}
li a:hover{
    background-color: black;
    color: white;
}
.paragrap{
    width: 800px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,0);
}
.paragrap h1{
    color: white;
    font-size: 55px;
    text-align: center;
}
.paragrap h4{
    color: white;
    font-size: 20px;
    text-align: center;
}
.buton{
    width: 230px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,0);
    padding-top: 20px;
    padding-left: 25px;
    border: solid 2px white;
    border-radius: 10px;
}
.buton a{
    font-size: 35px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.sta{
    background-image: url("/img/bg.jpg");
    position: relative;
    width: 100%;
    height: 450px;
}
.sta h2{
    position: absolute;
    width: 350px;
    height: 150px;
    left: 50%;
    top: 10%;
    transform: translate(-50%,0);
    font-size: 45px;
    color: white;
    padding-top: 53px;
    padding-left: 69px;
}
.static{
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 150px;
    display: flex;
}
.year{
    width: 171px;
    margin-left: 170px;
    text-align: center;
    color: white;
    font-weight: 600;
}
.year .a{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.year .b{
    font-size: 25px;
    margin-top: 0;
}
.servi{
    background-color: rgb(228, 222, 222);
    position: relative;
    width: 100%;
    height: 650px;  
}
.le{
    position: absolute;
    width: 450px;
    height: 500px;
    left: 5%;
    top: 15%;
}
.le h1{
    font-size: 60px;
    text-align: left;
    color: black;
}
.le p{
    font-size: 20px;
    text-align: left;
    color: rgb(114, 110, 110);
}
.ri{
    position: absolute;
    width: 920px;
    height: 540px;
    right: 6%;
    top: 15%;
    display: flex;
    flex-wrap: wrap;
}
.gro{
    width: 450px;
    height: 250px;
    background-color: white;
    margin-left: 10px;
    box-shadow: 10px 10px rgb(228, 222, 222);
}
.gro h3{
    color: black;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
}
.gro p{
    color: rgb(114, 110, 110);
    font-size: 17px;
    text-align: center;
}